@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

* {
  /* border: 1px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #171823;
}

@theme {
  --font-josefin-sans: "Josefin Sans", sans-serif;

  /* --large-container: 1240px; */
}
