@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: auto;
}

.card-wrapper {
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  width: fit-content;
  gap: 69px;
  justify-content: space-between;
}

.left {
  max-width: 221px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left p {
  background-color: #b9ff66;
  font-size: 30px;
  font-weight: 500;
  padding: 0px 7px;
  border-radius: 7px;
  margin: 0;
  width: fit-content;
}

.learn-more-btn {
  display: flex;
  gap: 15px;
  align-items: center;
}
