@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

.text-merah {
  color: red;
}

.text-besar {
  font-size: 42px;
}

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;

  /* --large-container: 1240px; */
}

@layer utilities {
  .large-container {
    /* max-width: 1240px;
    margin: auto; */

    @apply max-w-310 mx-auto px-4;
  }
}
