* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree";
}

body {
  background: #f4d04e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card {
  background: white;
  max-width: 327px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #111111;
  box-shadow: 8px 8px 0 #111111;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.tag {
  background: #f4d04e;
  font-size: 12px;
  font-style: bold;
  font-weight: 800;
  padding: 4px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 12px;
}

.date {
  font-size: 12px;
  color: #111111;
  margin-bottom: 12px;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
}

/* media quaries untuk hover desktop */

@media (min-width: 768px) {
  .card {
    max-width: 384px;
    padding: 24px;
  }

  .title {
    font-size: 24px;
    cursor: pointer;
  }

  .title:hover {
    color: #f4d04e;
  }
}

.desc {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 1.5;
  margin-bottom: 24px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author span {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 25px;
}
