<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
    <body style="font-family": "monospace;">
        <h1>Welcome {{name}}! 🥳</h1>
        <p>Thanks for registering in Funevent.</p>
        <p>We are excited to have you onboard.</p>
    </body>
</html>